p 
  .complectationname #{complectation.name}
  .comp processor: 	
  | #{complectation.processor_type} (#{complectation.processor_speed})
  .comp memory:
  | #{complectation.memory_amount} mb
  .comp video:
  | #{complectation.videocard}
  .price price:
  | #{complectation.price} rub


