.item
  p \Название: 
    #{item.name}
  p \Добавлено: 
    - var n = new Date(item.added)
    #{n.getDay()}/#{n.getMonth()}/#{n.getFullYear()}
    #{n.getHours()}:#{n.getMinutes()}
  p \Вес: 
    #{item.weight}
  #complectations!= partial('complectation', item.complectations)
\|
